<div class="hero w-screen h-screen" style="background-image: url(https://placeimg.com/1000/800/arch);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Welcome to <br> Town Hall!</h1>
      <p class="mb-5">A public forum for the people, by the people!</p>
      <button class="btn btn-warning">
        <a href="/posts">Explore Newsfeed</a>
      </button>
      <button class="btn btn-warning">
        {{#if logged_in}}
        <button class="no-button" id="logout"><a href="/logout">Log Out</a></button>
        {{else}}
        <a href="/login">Log In To contribute</a>
        {{/if}}
      </button>
    </div>
  </div>
</div>