<div class="hero min-h-screen" style="background-image: url(https://placeimg.com/1000/800/arch);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Welcome to Town Hall!</h1>
      <p class="mb-5">You're one-stop homepage for town events, concerns, improvements, and activities!</p>
      <button class="btn btn-primary">
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </button>
    </div>
  </div>
</div>