<div class="flex items-center justify-center">

  <form class="form login-form w-1/3 p-20">
    <div class="card flex-shrink-0 w-full max-w-lg shadow-2xl bg-base-100">
      <div class="card-body">
        <div class="form-control">
          <h2>Login</h2>
          <label for="email-login" class="label">
            <span class="label-text">email:</span>
          </label>
          <input class="form-input rounded-md border-2" type="text" id="email-login" />
        </div>
        <div class="form-group">
          <label for="password-login" class="label">
            <span class="label-text">password:</span>
          </label>
          <input class="form-input rounded-md border-2" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">login</button>
        </div>
      </div>
    </div>
  </form>

  <form class="form signup-form w-1/3 p-20">
    <div class="card flex-shrink-0 w-full max-w-lg shadow-2xl bg-base-100">
      <div class="card-body">
        <div class="form-control">
          <h2>Signup</h2>
          <label for="name-signup" class="label">
            <span class="label-text">First Name:</span>
          </label>
          <input class="form-input rounded-md border-2" type="text" id="fname-signup" />
        </div>
        <div class="form-group">
          <label for="name-signup" class="label">
            <span class="label-text">Last Name:</span>
          </label>
          <input class="form-input rounded-md border-2" type="text" id="lname-signup" />
        </div>
        <div class="form-group">
          <label for="email-signup" class="label">
            <span class="label-text">email:</span>
          </label>
          <input class="form-input rounded-md border-2" type="text" id="email-signup" />
        </div>
        <div class="form-group">
          <label for="password-signup" class="label">
            <span class="label-text">password:</span>
          </label>
          <input class="form-input rounded-md border-2" type="password" id="password-signup" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">signup</button>
        </div>
      </div>
    </div>
  </form>
</div>

<script src="./js/login.js"></script>