<container class="flex items-center justify-center">
    <button class="btn btn-primary">
        {{#if logged_in}}
        <a href="/createPosts">Create New Post</a> |
        {{else}}
        <a href="/login">Log In to Create your own post</a>
        {{/if}}
    </button>

    {{#each posts}}
    <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">
                Example Post!
                <div class="badge badge-secondary">{{topic}}</div>
            </h2>
            <p>{{content}}</p>
            <div class="card-actions justify-end">
                <div class="badge badge-outline">Fashion</div>
                <div class="badge badge-outline">Products</div>
            </div>
        </div>
    </div>
    {{/each}}
</container>