<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{firstName}}!</h2>
  </div>
</div>
  <button class="btn btn-primary">
        {{#if logged_in}}
        <a href="/api/posts/">Create New Post</a>
        {{else}}
        <a href="/login">Log In to Create your own post</a>
        {{/if}}
    </button>

<script src="./js/profile.js"></script>
